@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&family=Oswald:wght@600&family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #00261C;
    --cor2: #044D29;
    --cor3: #168039;
    --cor4: #45BF55;
    --titulo: 'Bebas Neue', cursive;
    
    --fonte-h1: 'Share Tech Mono', monospace;
    --font-android: 'android','cursive'
}

body{
    background-color: #d6ddd7;
}

header{
    background-color: green;
    text-align: center;
    height: 154px;
    color: white;
    background-image: linear-gradient(to top, #00261C,#044D29);
}

header > h1{
    color: white;
    font-family: var(--titulo);
    padding-top: 20px;
    text-shadow: 2px 2px #00000062;
    font-size: 3em;
}

header > p{
    padding-top: 10px;
    font-size: 1.1em;
    max-width: 380px;
    margin: auto;
}

nav{
    background-color: #00261C;
    height: 25px;
}

nav > a{
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

nav > a:hover{
    color: white;
    text-decoration: underline;
    background-color: #044D29;
    transition-duration: 0.5s;
}


main{
    display: block;
    background-color: white;
    text-align: justify;
    margin: auto;
    width: 1000px;
    height: 2000px;
}

main > h1{
    font-size: 35px;
    font-family: var(--fonte-h1);
    color: var(--cor2);
    text-indent: 10px;
    height: 60px;
    padding-top: 30px;
    margin-bottom: -18px;
    text-shadow: 1px 1px #000000f7;
}


main > h2{
    font-size: 30px;
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, #c1c1c15c ,white);
    color: var(--cor2);
    text-indent: 10px;
    margin-top: 40px;
}

main > p {
    font-size: 18px;
    text-align: justify;
    line-height: 125%;
    text-indent: 30px;
    margin: 15px 35px 0px 15px
}

main > p > a {
    color: var(--cor4);
    text-decoration: none;
}

main > p > a:visited{
    color: var(--cor4);
}

main > p > a:hover{
    color: #00261C;
    text-decoration: underline;
}

main > p > strong{
    color: var(--cor4);
    text-decoration: none;
}

abbr{
    color: var(--cor4);
    text-decoration: none;
}

.img{
    display: block;
    width: 100%;
}

footer{
    background-color: #14AA4B ;
    width: 100%;
    background-color: black;
    color: green;
    text-align: center;
}
