@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

@font-face{
    font-family: 'android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #00261C;
    --cor2: #044D29;
    --cor3: #168039;
    --cor4: #45BF55;
    --titulo: 'Bebas Neue', cursive;

    --fonte-android: 'android','cursive';
}

body{
    background-color: darkkhaki;
}

header{
    background-color: green;
    text-align: center;
    height: 154px;
    color: white;
    background-image: linear-gradient(to top, #00261C,#044D29);
}

header > h1{
    color: white;
    font-family: var(--titulo);
    padding-top: 20px;
    text-shadow: 2px 2px #00000062;
    font-size: 3em;
}

header > p{
    padding-top: 10px;
    font-size: 1.1em;
    max-width: 380px;
    margin: auto;
}

nav{
    background-color: #00261C;
}

nav > a{
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

nav > a:hover{
    color: white;
    background-color: #044D29;
    border-radius: 5px;
    transition-duration: 0.5s;
}

a:hover{
    color: darkgray;
    text-decoration: underline;
    background-color: #14AA4B;
    transition-duration: 0.5ms;
}


main{
    display: block;
    background-color: white;
    text-align: justify;
    margin: auto;
    width: 1000px;
    height: 2000px;
}

main > h1{
    font-family: var(--fonte-android);
    color: #14AA4B;
    background-color: #d9d9d9;
    background-image: linear-gradient(to right,#cdffbb, #ffffff);
    border-radius: 5px;
    text-indent: 10px;
    text-align: center;
    padding-top: 10px;
}

main > h2 {
    font-family: var(--fonte-android);
    color: #14AA4B;
    border-radius: 5px;
    text-indent: 10px;
    margin-top: 40px;
}

main > p{
    text-align: left;
    text-align: justify;
    line-height: 125%;
    text-indent: 15px;
    margin-top: 5px;
}

.img{
    display: block;
    width: 100%;
}

footer{
    background-color: #14AA4B ;
    width: 100%;
    background-color: black;
    color: green;
    text-align: center;
}
